// @import("common/fonts.scss");
@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

// // @import("blocks/button.scss");
// @mixin base-button ($padding-top, $padding-bottom, $text-decoration, $border) {
//   padding-top: $padding-top;
//   padding-bottom: $padding-bottom;

//   text-decoration: $text-decoration;
//   border: $border;
// }

// @mixin primary-button {
//   @include base-button;
//   background-color: $primary;
//   color: $white;
// }

// @mixin secondary-button {
//   @include base-button;
//   background-color: rgb(104, 183, 56, 85%);
//   color: $white;
// }

// @mixin additional-button {
//   @include base-button;
//   background-color: $accent-light-grey;
//   color: $black;
// }
