@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin button($bg-color: $primary, $text-color: $secondary) {
  width: 280px;
  height: 40px;
  padding: 10px 44px;

  background-color: $bg-color;
  color: $text-color;

  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

