@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin button {
  @button {
    display: inline-block;

    width: 280px;
    height: 40px;
    margin: 0;
    padding: 10px 44px;

    background-color: $primary;

    border: none;

    &__text {
      font-family: inherit;
      font-size: 16px;
      line-height: 20px;

      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
