/* здесь используйте глобальные переменные */

// Primary colors
$black: #000000;
$primary: #68b738;
$white: #ffffff;

// Additional background colors
$basic-grey: #f2f2f2;
$basic-dark-grey: #d9d9d9;
$decoration-grey: #e6e6e6;
$fon-grey: #eaeaea;
$line-grey: #cdcdcd;
$light-grey: #d3d3d3;
$social-grey: #666666;

// Text Colors
$font-dark-grey: #111111;
$font-additional-dark-grey: #222222;
$font-special-dark-grey: #444444;

// Viewports
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;

