/* здесь используйте глобальные переменные */

$fon: #af86a8;
$fon-font: #eedbdb;

$basic_black: #000000;
$basic_white: #ffffff;
$basic_green: #68b738;
$basic_grey: #f2f2f2;

$secondary_dark-grey: #444444;
$decorative-grey: #d9d9d9;
$fon_grey: #eaeaea;
$font_dark-grey: #111111;
$special_grey: #666666;
