.page {
  height: 100%;
}

.page__body {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;

  overflow-x: hidden;

  &--index {
    z-index: 0;

    @media (min-width: $breakpoint-desktop-min) {
      &::before {
        @include pseudo-element;
        inset: 0 0 0 calc(50% + 40px);
        z-index: -2;

        height: 694px;

        background: linear-gradient(to right, $primary-fon 100px, $primary-fon 100px), image-set(url("../../../images/index-page/cat-desktop@1x.jpg") 1x type("image/jpeg"), url("../../cat-desktop@1x.webp") 1x type("image/webp"), url("../../../images/index-page/cat-desktop@2x.jpg") 2x type("image/jpeg"), url("../../cat-desktop@2x.webp") 2x type("image/webp"));
      }
    }
  }
}

.page__headline {
  margin: 0;

  font-family: $main-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  text-align: left;

  @media (min-width: $breakpoint-tablet-min) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page__main-header,
.page__main-footer {
  position: relative;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0;

  flex-grow: 0;
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}
