.page {
  display: flex;
  justify-content: center;
  align-items: stretch;

  height: 100%;
}

.page__body {
  position: relative;
  z-index: 0;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-items: start;

  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;

  overflow-x: hidden;

  @media screen and (min-width: $breakpoint-desktop) {
    &::before {
      @include pseudo-element;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 50%;
      height: 694px;

      background-color: $primary-fon;
      background-image: linear-gradient(to top, $primary-fon, $primary-fon), image-set(url("../../../images/index-page/cat-desktop@1x.jpg") type("image/jpg") 1x, url("../../../images/index-page/cat-desktop@1x.webp") type("image/webp") 1x);
      background-repeat: no-repeat;
      background-size: auto 697px;
      background-position-x: top right;

      @media screen and (min-resolution: 2dppx) {
        background-image: url("../../../images/index-page/cat-desktop@2x.jpg, ../../../images/index-page/cat-desktop@2x.webp");
      }
    }
  }
}

.page__headline {
  display: block;

  padding: 0;

  font-family: $main-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  text-align: left;
  transform: scale(0);

  @media (min-width: $breakpoint-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page__top {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $breakpoint-tablet) {
    min-height: 950px;
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 694px;
    margin-bottom: 82px;
  }
}

.page__main-header,
.page__main-footer {
  position: relative;
  left: 0;
  right: 0;

  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page__main {
  flex-grow: 1;
}

.page__main-header {
  @include container;
}

.page__main-header--catalog .page__body::before {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}
