.main-header {
  &__wrapper {
    min-width: 100%;
    min-height: 100%;
    padding: 0 20px;

    background-color: transparent;
  }

  &__wrapper--index::after {
    content: "";

    display: block;
    padding: 0;

    background-image: url("../../../images/index-cat/cat-mobile@2x.jpg");
    background-repeat: no-repeat;
  }

  // @import("blocks/navigation.scss");
  &__navigation {
    min-width: 100%;

    background-color: $white;
    color: $black;
  }

  // @import("blocks/logo.scss");
  &__logo {
    min-width: 190px;
    min-height: 38px;
  }

  // @import("blocks/hero.scss");
  &__hero {
    min-width: 100%;
    min-height: 100%;
    padding: 0;
  }
}
