.main-header {
  position: relative;

  display: inline-grid;
  grid-template-columns: 190px 24px;
  grid-template-rows: 1fr;
  gap: 65px;
  align-items: center;

  width: 100%;
  min-width: 279px;
  min-height: 66px;
  margin: 0 auto;
  padding: 0 20px;

  background-color: $white;

  @media (min-width: $breakpoint-tablet) {
    @include flex-container(row, center, space-between);

    min-height: 75px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 114px;

    background-color: transparent;
  }
}

.main-header__logo {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: 56px;

  min-width: 190px;
  min-height: 66px;
  margin: 0 auto;
  padding: 13px 0 14px;

  cursor: pointer;

  @include a;

  @media (min-width: $breakpoint-tablet) {
    justify-content: space-between;
    gap: 13px;

    width: 174px;
    height: 50px;
    margin-top: 25px;
  }

  @media (min-width: $breakpoint-desktop) {
    gap: 14px;

    width: 202px;
    height: 59px;
    margin-top: 55px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  position: absolute;
  top: 12px;
  left: 0;

  display: block;

  width: 33px;
  height: 38px;

  overflow: hidden;

  @media (min-width: $breakpoint-tablet) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 70px;
    height: 59px;
  }
}

.main-header__logo-text {
  position: relative;
  inset: 0;

  display: block;

  width: 101px;
  height: 18px;

  overflow: hidden;

  @media (min-width: $breakpoint-desktop) {
    width: 118px;
    height: 21px;
  }
}

.main-header__main-nav {
  width: 24px;
  height: 24px;
}
