.main-nav__toggle {
  position: relative;
  top: 0;
  left: 0;
  bottom: 5px;

  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  mask-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.5s linear;

  &::before {
    @include pseudo-element;

    background-color: $black;
    mask-position: contain;
    mask-repeat: no-repeat;
  }

  &--open::before {
    top: 1px;

    width: 24px;
    height: 24px;

    mask-image: url("../../../icons/stack.svg#icon-menu-opened");
    mask-position: center;
    mask-size: contain;
  }

  &--close::before {
    top: 3px;
    left: 3px;

    width: 18px;
    height: 18px;

    mask-image: url("../../../icons/stack.svg#icon-menu-closed");
    mask-position: center;
    mask-size: contain;
  }

  &--nojs::before {
    display: none;
  }

  &:hover::before,
  &:focus-visible::before {
    background-color: $primary;
    opacity: 0.8;
    transition: all 1s ease-in-out;
    transition-duration: 200ms;
    transform: rotate(180deg);
  }

  &:active::before {
    background-color: $primary;
    opacity: 0.6;
    transition: all 1s ease-in-out;
    transition-duration: 200ms;
    transform: rotate(180deg);
  }

  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}

.main-nav__wrapper {
  position: relative;

  min-width: 100%;

  &--open {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
  }

  &--close {
    display: none;
  }

  &--nojs {
    position: static;
  }
}

.main-nav__list {
  @include reset-list;

  width: 100%;
  min-width: 320px;
  padding: 0;
  margin: 0;

  background-color: $white;

  @media screen and (min-width: $breakpoint-mobile) {
    display: flex;
    flex-flow: column wrap;
  }

  @media (min-width: $breakpoint-tablet) {
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 33px;
  }

  @media (min-width: $breakpoint-desktop) {
    background-color: transparent;
  }
}

.main-nav__item {
  border-top: 1px solid $extra-light-grey;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
    border: none;
  }
}

.main-nav__link {
  position: relative;

  display: block;

  padding: 22px 0 24px;

  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;

  color: $black;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
    line-height: 24px;

    &--active {
      padding-bottom: 4px;
      border-bottom: 2px solid $primary;
      pointer-events: none;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;

    font-size: 20px;
    line-height: 30px;

    &--desktop {
      color: $white;
    }

    &--active {
      border-bottom: 2px solid $white;
    }
  }
}
