.main-nav {
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;

  flex: 1;

  width: 100%;
  background-color: $white;

  @media (min-width: $breakpoint-tablet-min) {
    position: relative;
    top: 0;
  }

  @media (min-width: $breakpoint-desktop-min) {
    background-color: transparent;
  }
}

.main-nav--closed {
  display: none;

  @media (min-width: $breakpoint-tablet-min) {
    display: block;
  }
}

.main-nav--open {
  display: block;
}


.main-nav__content {
  @media (min-width: $breakpoint-tablet-min) {
    display: flex;
    justify-content: right;
  }
}

.menu__item--index .menu-link {
  @media (min-width: $breakpoint-desktop-min) {
    color: $white;
  }
}

.menu__item--index .menu__item--active::after {
  @include pseudo-element;

  @media (min-width: $breakpoint-desktop-min) {
    background-color: $white;
  }
}
