.navigation {
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 18px;
    min-height: 18px;
    margin: 0;
    padding: 0;

    background-color: $white;
    border: none;
    cursor: pointer;
    overflow: hidden;
  }

  &__toggle--menu-closed {
    width: 18px;
    height: 18px;
  }

  &__toggle--menu-closed:hover {
    opacity: 0.8;
  }
}
