.navigation {
  &__toggle {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    min-width: 24px;
    min-height: 24px;
    margin: 0;
    padding: 0;

    border: none;
    cursor: pointer;
  }

  &__toggle--menu-opened {
    width: 24px;
    height: 24px;
  }

  &__toggle--menu-opened:hover {
    opacity: 0.8;
  }

  &__toggle--menu-closed {
    width: 18px;
    height: 18px;
  }

  &__toggle--menu-closed:hover {
    opacity: 0.8;
  }
}
