.page-header {
  position: relative;

  display: flex;
}

.page-header__wrapper {
  position: relative;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  // padding-top: 13px;
  // padding-bottom: 15px;

  @media (min-width: $breakpoint-tablet-min) {
    width: 708px;
    margin: 0 auto;
    padding-top: 25px 0 0;
  }

  @media (min-width: $breakpoint-desktop-min) {
    width: 1220px;
    padding-top: 55px 0 0;
  }
}

.page-header__logo {
  display: grid;
  grid-template-columns: 38px 101px;
  gap: 56px;
  align-items: center;

  width: 195px;
  height: 65px;
  margin-right: auto;

  cursor: pointer;

  transition: opacity 0.4s;

  @media (min-width: $breakpoint-tablet-min) {
    grid-template-columns: 60px 101px;
    gap: 13px;

    width: 174px;
    height: 50px;
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop-min) {
    grid-template-columns: 70px 118px;
    gap: 14px;

    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  @include reset-link;

  width: 100%;
  min-width: 33px;
  height: 38px;

  vertical-align: middle;
  text-align: center;

  @media (min-width: $breakpoint-tablet-min) {
    min-width: 60px;
    height: 50px;
  }

  @media (min-width: $breakpoint-desktop-min) {
    min-width: 70px;
    height: 59px;
  }
}

.page-header__logo-text {
  @include reset-link;

  height: 100%;
  width: 101px;
  min-height: 18px;

  vertical-align: middle;

  @media (min-width: $breakpoint-desktop-min) {
    width: 118px;
    height: 21px;
  }
}

.page-header__toggle {
  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;

  @media (min-width: $breakpoint-tablet-min) {
    display: none;
  }
}

.page-header__toggle--open,
.page-header__toggle--close {
  position: relative;
}

.page-header__toggle--open::before {
  @include pseudo-element;
  top: 0;

  width: 2px;
  height: 24px;

  background-color: $black;

  transform: rotate(-45deg);
}

.page-header__toggle--open::after {
  @include pseudo-element;
  top: 0;

  width: 2px;
  height: 24px;

  background-color: $black;

  transform: rotate(45deg);
}

.page-header__toggle--close::before {
  @include pseudo-element;
  top: 0;
  left: 10px;

  width: 24px;
  height: 1.5px;

  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;

  transform: translateX(-50%);
}

.page-header__main-nav {
  position: relative;

  display: flex;

  @media (min-width: $breakpoint-tablet-min) {
    top: 0;

    align-items: flex-end;

    min-width: 436px;
  }

  @media (min-width: $breakpoint-desktop-min) {
    position: relative;
  }
}
