.page-header {
  position: relative;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 320px;
  padding-top: 13px;
  padding-bottom: 15px;

  @media (min-width: $breakpoint-tablet-min) {
    flex-direction: row;

    width: 708px;
    margin: 0 auto;
    padding-top: 25px 0 0;
  }

  @media (min-width: $breakpoint-desktop-min) {
    width: 1220px;
    padding-top: 55px 0 0;
  }

  outline: 8px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
}

.page-header__logo {
  display: grid;
  grid-template-columns: 38px 101px;
  gap: 56px;
  // justify-content: center;
  align-items: center;

  width: 190px;
  height: 65px;
  margin-right: auto;

  cursor: pointer;

  transition: opacity 0.4s;

  @media (min-width: $breakpoint-tablet-min) {
    grid-template-columns: 60px 101px;
    gap: 13px;

    width: 174px;
    height: 50px;
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop-min) {
    grid-template-columns: 70px 118px;
    gap: 14px;

    width: 202px;
    height: 59px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  @include reset-link;

  width: 100%;
  min-width: 33px;
  height: 38px;

  vertical-align: middle;
  text-align: center;

  @media (min-width: $breakpoint-tablet-min) {
    min-width: 60px;
    height: 50px;
  }

  @media (min-width: $breakpoint-desktop-min) {
    min-width: 70px;
    height: 59px;
  }
}

.page-header__logo-text {
  @include reset-link;

  height: 100%;
  width: 101px;
  min-height: 18px;

  vertical-align: middle;

  @media (min-width: $breakpoint-desktop-min) {
    width: 118px;
    height: 21px;
  }
}

.page-header__main-nav {
  position: relative;
  top: 65px;

  display: flex;

  @media (min-width: $breakpoint-tablet-min) {
    top: 0;

    align-items: flex-end;

    min-width: 436px;
  }

  @media (min-width: $breakpoint-desktop-min) {
    position: relative;
  }

  outline: 8px solid rgba(60, 255, 0, 0.8);
  outline-offset: -3px;
}
