/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/button.scss";
@import "./blocks/page.scss";
@import "./blocks/container.scss";
@import "./blocks/header/main-header.scss";
@import "./blocks/header/logo.scss";
@import "./blocks/header/logo-text.scss";
@import "./blocks/header/navigation.scss";
@import "./blocks/fullscreen-menu.scss";
@import "./blocks/main/main-index.scss";
@import "./blocks/main/hero.scss";
@import "./blocks/main/programs.scss";
@import "./blocks/main/reasons.scss";
@import "./blocks/main/stats.scss";
@import "./blocks/footer/main-footer.scss";
@import "./blocks/footer/map.scss";
@import "./blocks/footer/signboard.scss";
@import "./blocks/footer/location.scss";
@import "./blocks/footer/pin.scss";
@import "./blocks/footer/social.scss";
@import "./blocks/footer/social-list.scss";
@import "./blocks/footer/logo-academy.scss";
