.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 320px;
    height: 302px;
    margin: 0;
    padding: 0;
    background: $primary 85%;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 36px;
    line-height: 36px;
    text-align: center;

    color: $white;
  }

  &__description {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 14px;
    text-align: left;

    color: $white;
  }

  &__image {
    background-image: url("images/hero/hero-cat/cat-mobile@2x.jpg");
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
