.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;

    width: 320px;
    min-height: 302px;
    margin: 0;
    padding: 0;

    background-image: url("/images/hero/hero-cat/cat-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $fon-primary;
  }

  &__title {
    margin: 0;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 25px;

    font-family: $main-font;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    font-weight: 400;

    color: $white;
  }

  &__slogan {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 14px;

    text-transform: uppercase;
    text-align: center;
    color: $white;
  }

  &__image {
    background-color: $fon-primary;
  }

  &__button {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
  }
}
