.hero {
  &__wrapper {
    position: relative;

    width: 320px;
    padding: 0;

    background-color: $primary;
  }

  .hero__wrapper--index {
    position: absolute;
    top: 0;
    left: 0;

    width: 320px;
    height: 302px;

    background: url("../../../images/index-cat/cat-mobile@2x.jpg") no-repeat center center/cover;
    background-size: 320px 302px;
    z-index: -1;
  }

  &__title {
    padding-top: 27px;
    padding-bottom: 25px;

    font-family: $main-font;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;

    text-align: center;
    color: $white;
  }

  &__slogan {
    margin: 0;
    padding: 0;
    padding-bottom: 29px;

    font-family: $main-font;
    font-size: 14px;
    line-height: 14px;

    text-transform: uppercase;
    text-align: center;
    color: $white;
  }

  &__image {
    display: block;
  }
}
