.main-index {
  flex-grow: 1;

  width: 320px;
  height: 100%;
  margin: 0 auto;

  &__wrapper {
    min-width: 320px;
    margin: 0 auto;
  }

  &__programs {
    padding: 0;
  }

  &__reasons {
    padding: 0;
  }

  &__stats {
    padding: 0;
  }

  &__map {
    padding: 0;
  }
}
