.programs {
  &__wrapper {
    display: grid;
  }

  &__title {
    font-family: $main-font;
    font-size: 24px;
    line-height: 37px;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
  }

  &__item--slim {
  }

  &__subtitle {
    font-family: $main-font;
    font-size: 24px;
    line-height: 37px;

    font-family: $black;
  }

  &__description {
    font-family: $main-font;
    font-size: 14px;
    line-height: 18px;

    $special_dark-grey;
  }

  &__link {
  }

  &__item--pro {
  }
}
