.reasons {

  // .reasons__wrapper

  &__wrapper {
  }

  // .reasons__title

  &__title {
    font-family: $main-font;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
  }

  // .reasons__list

  &__list {
    list-style-type: none;
  }

  // .reasons__item

  &__item {
  }

  // .reasons__item--petal

  &__item--petal {
  }

  // .reasons__description

  &__description {
    font-family: $base-font-size;
  }

  // .reasons__number

  &__number {
    font-family: $main-font;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;

    text-align: center;
    color: $basic-grey;
  }

  // .reasons__item--powder

  &__item--powder {
  }

  // .reasons__item--nutrition

  &__item--nutrition {
  }

  // .reasons__item--time

  &__item--time {
  }
}
