.stats {
  // &__wrapper {
  // }

  &__title {
    font-family: $main-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }

  &__description {
    font-family: $font_special-dark-grey;
  }

  // &__module {
  // }

  &__meaning {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
  }

  &__number {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
  }

  &__text {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;

    text-transform: uppercase;
  }

  &__action {
    font-size: 12px;
    line-height: 12px;
  }

  &__costs {
    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
  }

  &__price {
    font-family: $main-font;
    font-size: 14px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
  }

  // &__slider {
  // }

  // &__image-before {
  // }

  // &__image-after {
  // }

  &__range-bar {
    position: relative;

    width: 560px;
    height: 512px;
    padding: 0;

    background-color: transparent;
    color: $social-grey;
    border: none;
    transition: ease-in-out 0.2s;
  }

  &__range-bar:hover {
    color: $primary;
  }

  &__range-bar:active {
    color: $5eaa2f;
  }

  &__range-bar::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 4px;
    height: 100%;

    background-color: $social-grey;
    border-radius: 2px;
    transition: ease-in-out 0.2s;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &__range-bar::before:hover {
    background-color: $primary;
  }

  &__range-bar::before:active {
    background-color: $5eaa2f;
  }

  // &__range-toggle {
  // }
}
