.card-add {
  width: 100%;
  padding: 25px 0;

  border-bottom: 1px solid $extra-light-grey;
}

.card-add__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 320px;
  height: 207px;

  @include tablet {
    height: 429px;
  }

  @include desktop {
    width: 245px;
    height: 430px;
  }
}

.card-add__plus {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after,
  &::before {
    @include pseudo-element;
    top: 25px;

    width: 30px;
    height: 2px;

    background-color: $light-grey;
  }

  &::before {
    transform: rotate(90deg);
  }

  @include tablet {
    &::after,
    &::before {
      @include pseudo-element;
      top: 0;

      width: 60px;
      height: 2px;

      background-color: $light-grey;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  @include desktop {
    &::after,
    &::before {
      @include pseudo-element;
      top: 75px;

      width: 60px;
      height: 2px;

      background-color: $light-grey;
    }

    &::before {
      transform: rotate(90deg);
    }
  }
}

.card-add__info {
  @include info;

  margin: 53px 0 8px;

  text-transform: uppercase;
  color: $extra-dark-grey;
  text-align: center;

  @include tablet {
    width: 170px;
    margin: 50px 77px 0;
    padding: 0 18px 23px;
  }

  @include desktop {
    margin: 150px 0 26px;
  }
}

.card-add__description {
  font-family: $base-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 21px;

  color: $accent-dark-grey;
  text-align: center;

  @include tablet {
    width: 170px;
    margin: 0 77px;

    font-size: 16px;
    line-height: 18px;
  }
}

.card-add__button {
  @include grey-button;

  grid-column: 1/-1;

  width: 280px;
  height: fit-content;
  margin: 17px auto 25px;
  padding: 10px 0;

  @include tablet {
    width: 250px;
    margin: 82px 37px 40px;
  }

  @include desktop {
    width: 169px;
    margin: 90px 38px 40px;
  }
}
