.catalog {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-content: start;

  &__title {
    font-family: $main-font;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;

    text-align: left;
  }

  &__list {
    list-style-type: none;
  }
}

.catalog .catalog__title {
  grid-column: 1 / -1;
}

.catalog .catalog__list {
  grid-column: 1 / -1;
}
