.reasons {
  min-width: 280px;
  margin-top: 20px;
  padding-bottom: 49px;

  transition: all 0.8s ease-out;

  @include tablet {
    margin-top: 45px;
    margin-bottom: 45px;
    padding-bottom: 47px;

    &::after {
      @include pseudo-element;

      height: 1px;

      background-color: $extra-light-grey;
    }
  }

  @include desktop {
    margin-top: 69px;
    margin-bottom: 0;
    padding-bottom: 71px;

    &::after {
      content: none;
    }
  }

  &__wrapper {
    @include container;

    width: 280px;
    padding: 0;

    @include tablet {
      width: 708px;
    }

    @include desktop {
      width: 1220px;
      padding: 0;
    }
  }

  &__title {
    @include title;

    width: 280px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 40px;

    text-align: left;

    @include tablet {
      width: 708px;
      padding-bottom: 32px;
    }

    @include desktop {
      width: 1220px;
    }
  }

  &__list {
    @include reset-list;

    display: grid;
    row-gap: 20px;

    width: 280px;
    margin: 0 auto;
    padding: 0;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 37px 137px;

      width: 708px;
      padding: 0 75px 0 0;
    }

    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 73px;
      justify-content: space-between;

      width: 1220px;
    }
  }
}

.reasons__item {
  position: relative;

  display: flex;
  align-items: center;

  min-height: 60px;
  margin: 0;
  padding: 0;

  counter-increment: number 1;

  @include tablet {
    position: relative;

    min-width: 250px;
    min-height: 280px;
    margin: 0;
    padding: 0;

    &::after {
      content: counter(number);
      position: absolute;
      top: 47%;
      right: 0;
      z-index: -1;

      font-family: $main-font;
      font-size: 280px;

      color: $accent-light-grey;
    }
  }

  @include desktop {
    margin: 0 0 69px;
  }

  &::before {
    @include pseudo-element;
    top: 0;
    left: 0;


    width: 60px;
    height: 60px;

    background-color: $primary;
    background-position: center center;
    background-repeat: no-repeat;

    @include tablet {
      top: 40px;

      width: 80px;
      height: 80px;
    }
  }

  &--leaf {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../icons/stack.svg#icon-leaf");
      background-size: 25px 28px;
    }
  }

  &--powder {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../icons/stack.svg#icon-powder");
      background-size: 27px 29px;
      background-repeat: no-repeat;
    }
  }

  &--food {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../icons/stack.svg#icon-food");
      background-size: 25px 30px;
      background-repeat: no-repeat;
    }
  }

  &--time {
    position: relative;

    &::before {
      @include pseudo-element;

      background-image: url("../../icons/stack.svg#icon-time");
      background-size: 26px 31px;
      background-repeat: no-repeat;
    }
  }
}

.reasons__item-text {
  width: 100%;
  min-width: 200px;
  min-height: 54px;
  margin: 0 0 0 80px;
  padding: 2px 0 4px;

  @include tablet {
    min-width: 204px;
    min-height: 72px;
    margin: 151px 0 57px;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    vertical-align: middle;
  }
}
