.button {
  @include button;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  width: 280px;
  height: 40px;

  &__text {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}

