.container {
  &__logo {
    display: flex;

    width: 190px;
    height: 38px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 38px;
  }

  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 38px;
  }

  &__programs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__reasons {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__map {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__logo-academy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
