.container {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 320px;
  min-height: 100%;
  padding: 0 20px;

  &__hero {
    display: flex;
    flex-direction: column;
  }

  &__programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 522px;
  }

  &__reasons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__stats {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__map {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo-academy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
