
.page {
  height: 100%;

  font-family: $base-font-size;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  color: $font_special-dark-grey;
  $bg-orange: #ffa600; // orange
  background-color: $bg-orange;

  &__body {
    display: flex;
    flex-direction: column;

    width: 320px;
    min-height: 100%;
    margin: 0 auto;

    background-color: $light-grey;
    overflow: hidden;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  &__headline {
    margin: 0;
    padding: 0;

    font-family: $main-font;
    font-size: 60px;
    line-height: 60px;

    color: $black;
    text-align: left;
    background-color: $white;
  }

  // @import("blocks/main-header.scss");
  // header
  &__main-header {
    display: flex;
    align-items: center;

    background-color: $white;
    color: $black;
  }

  // @import("blocks/main-index.scss");
  // main - главная страница
  &__main-index {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;
  }

  // @import("blocks/main-inner.scss");
  // main - каталог
  &__main-inner {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;
  }

  // @import("blocks/main-inner.scss");
  // main - страница подбора программы
  &__main-form {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;
  }

  // @import("blocks/main-footer.scss");
  // footer
  &__main-footer {
    flex-shrink: 0;

    width: 100%;
    height: 714px;
    margin: 0 auto;
    margin-top: auto;

    background-color: $basic-grey;
    color: $font_special-dark-grey;
  }
}
