
.page {
  height: 100%;

  $bg-orange: #ffa600; // orange
  background-color: $bg-orange;

  &__body {
    display: flex;
    flex-direction: column;

    width: 320px;
    min-height: 100%;
    margin: 0 auto;

    font-family: $base-font-size;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    color: $font_special-dark-grey;
    background-color: $basic-grey;
    overflow-x: hidden;
  }

  // @import("blocks/main-header.scss");
  &__main-header {
    flex-shrink: 0;

    width: 100%;
    height: 65px;
    margin: 0 auto;
    margin-bottom: auto;

    background-color: $white;
    color: $black;

    @media (min-width: $tablet-width) {
      // background-color: ;
    }

    @media (min-width: $desktop-width) {
      // background-color: ;
    }
  }

  // @import("blocks/main-index.scss");
  &__main-index {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;

    @media (min-width: $tablet-width) {
      // background-color: ;
    }

    @media (min-width: $desktop-width) {
      // background-color: ;
    }
  }

  // @import("blocks/main-inner.scss");
  &__main-inner {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;

    @media (min-width: $tablet-width) {
      // background-color: ;
    }

    @media (min-width: $desktop-width) {
      // background-color: ;
    }
  }

  // @import("blocks/main-inner.scss");
  &__main-form {
    flex: 1;

    background-color: $white;
    color: $font_special-dark-grey;

    @media (min-width: $tablet-width) {
      // background-color: ;
    }

    @media (min-width: $desktop-width) {
      // background-color: ;
    }
  }

  // @import("blocks/main-footer.scss");
  &__main-footer {
    flex-shrink: 0;

    width: 100%;
    height: 714px;
    margin: 0 auto;
    margin-top: auto;

    background-color: $basic-grey;
    color: $font_special-dark-grey;

    @media (min-width: $tablet-width) {
      // background-color: ;
    }

    @media (min-width: $desktop-width) {
      // background-color: ;
    }
  }
}
