
.page {
  height: 100%;
  margin: 0 auto;

  $bg-orange: #ffa600; // orange(потом удалю)
  background-color: $bg-orange;

  &__body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100%;

    font-family: $base-font-size;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    color: $accent-dark-grey;
    background-color: $tomato;
    overflow-x: hidden;
  }

  @media (min-width: $mobile-min-width) {
    width: $mobile-min-width;
  }

  @media (min-width: $tablet-min-width) {
    width: $tablet-min-width;
  }

  @media (min-width: $desktop-min-width) {
    width: $desktop-min-width;
  }

  // @import("blocks/main-header.scss");
  &__main-header {
    min-width: 100%;
    min-height: 65px;
    margin: 0;
    padding: 0 20px;

    background-color: $white;
    color: $black;
  }

  // @import("blocks/main-index.scss");
  &__main-index {
    min-width: 100%;
    margin: 0;
    padding: 0 20px;

    background-color: $white;
    color: $accent-dark-grey;
  }

  // @import("blocks/main-inner.scss");
  &__main-inner {
    min-width: 100%;
    margin: 0;
    padding: 0 20px;

    background-color: $white;
    color: $accent-dark-grey;
  }

  // @import("blocks/main-inner.scss");
  &__main-form {
    min-width: 100%;
    margin: 0;
    padding: 0 20px;

    background-color: $white;
    color: $accent-dark-grey;
  }

  // @import("blocks/main-footer.scss");
  &__main-footer {
    min-width: 100%;
    min-height: 714px;
    margin: 0;
    padding: 0 20px;

    background-color: $accent-light-grey;
    color: $accent-dark-grey;
  }
}
