.logo-academy {
  background-image: url("../../icons/htmlacademy.svg");
  text-decoration: none;
  text-align: left;

  &__text {
    font-size: 16px;
    line-height: 20px;

    color: $font_special-dark-grey;
  }

  // &__image {
  // }
}
