.map {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0 auto;

  &__wrapper {
    padding: 26px 20px;

    background-color: $white;

    @include tablet {
      padding: 61px 70px;
    }

    @include desktop {
      position: relative;

      max-width: 1220px;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__wrapper--color {
    background-color: $accent-light-grey;

    @include desktop {
      background-color: $white;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 60px;

    cursor: default;
    background-color: inherit;

    @include tablet {
      min-height: 80px;
    }

    @include desktop {
      position: absolute;
      top: 95px;
      left: -610px;
      z-index: 1;

      min-width: 565px;
      min-height: 199px;
      padding: 60px 78px 60px 80px;
    }
  }

  &__text {
    max-width: 180px;
    margin: 0;

    font-family: $main-font;
    font-size: 16px;
    line-height: 20px;

    color: $extra-dark-grey;
    text-transform: uppercase;

    @include tablet {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__direction {
    max-width: 160px;
    margin: 0;
    padding-left: 16px;

    line-height: 20px;
    font-style: normal;

    @include tablet {
      display: flex;
      flex-direction: column;

      padding: 0;

      font-size: 16px;

      text-align: right;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__address {
    width: 140px;
    margin-top: 0;
    margin-bottom: 0;

    font-style: normal;

    @include tablet {
      width: 157px;
      margin-bottom: 25px;
    }

    @include tablet {
      margin-bottom: 19px;
    }
  }

  &__location {
    position: relative;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 362px;

    background-image:
    image-set(url("../../images/maps/map-mobile@1x.png") 1x type("image/png"),
      url("../../images/maps/map-mobile@2x.png") 2x type("image/png"),
      url("../../images/maps/map-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/maps/map-mobile@2x.webp") 2x type("image/webp")
    );
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet {
      min-height: 400px;

      background-image:
        image-set(url("../../images/maps/map-tablet@1x.png") 1x type("image/png"),
          url("../../images/maps/map-tablet@2x.png") 2x type("image/png"),
          url("../../images/maps/map-tablet@1x.webp") 1x type("image/webp"),
          url("../../images/maps/map-tablet@2x.webp") 2x type("image/webp")
        );
      min-height: 400px;
    }

    @include desktop {
      background-image:
      image-set(url("../../images/maps/map-desktop@1x.png") 1x type("image/png"),
        url("../../images/maps/map-desktop@2x.png") 2x type("image/png"),
        url("../../images/maps/map-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/maps/map-desktop@2x.webp") 2x type("image/webp")
      );
    }
  }

  &__location-iframe {
    position: relative;
    left: 0;

    display: block;

    width: 100%;
    height: 362px;

    border: none;
    overflow: hidden;

    @include tablet {
      height: 400px;
    }
  }

  &__location-image {
    position: absolute;
    top: 112px;

    display: block;

    width: 320px;

    @include tablet {
      top: 200px;

      width: 768px;
    }

    @include desktop {
      top: 0;

      width: 1440px;
    }
  }
}

.map__location-iframe--nojs {

  & .map__location-iframe {
    display: none;
  }

  & .map-widget-app {
    background: none;
  }

  & .map__location-image {
    display: block;
  }
}
